{%extends "base.html" %}
{%block title %}SIGN_UP{% endblock %}
{%block content %}
<body>
    {% if error %}
    <div style="color: red; background-color: #ffe6e6; padding: 10px; border: 1px solid red; margin-bottom: 10px;">
    
    <strong>error:</strong>{{ error }}
    <br>
    <a href="{{ url_for('login') }}" style="color: blue; font-weight: bold;">Login Here</a>
</div>
    {% endif %}

    <form action="/signup" method="post">
       <div class="mb-3">
         <label for="name" class="form-label">Name:</label>
        <input class="form-control" type="text" id="name" name="name" required><br><br>
       </div>
        <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input class="form-control" type="email" id="email" name="email" required><br><br>
        </div>
        <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input class="form-control" type="password" id="password" name="password" required><br><br>
       </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</body>
{% endblock %}